.navbar .alert {
    margin: 0;
    border: 0;
}

.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

.loading-spinner {
    position: absolute;
    font-size: 80px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

button.form-control {
    text-align: left;
}

button.form-control i {
    float: right;
}