<div content-for="title">List Tables - Detail</div>

<div ng-show="loading" class="app-content-loading">
    <i class="fa fa-spinner fa-spin loading-spinner"></i>
</div>

<div id="detail-ListTables" class="app-content" data-ng-show="!loading"
     ng-swipe-right="current.sets.ListTables.movePrevious()"
     ng-swipe-left="current.sets.ListTables.moveNext()">
    <div content-for="bottomLeftMenus">
        <div class="btn btn-navbar" data-ng-click="action.delete('ListTables')">
            <i class="fa fa-trash-o"></i> Delete
        </div>
    </div>

    <div content-for="bottomRightMenus">
        <div class="btn btn-navbar" data-ng-click="">
            <i class="fa fa-bars"></i> Menu
        </div>
    </div>

    <div class="scrollable">
        <div class="scrollable-content">
            <form>
                <div class="panel" title="List Tables">
                    <div class="panel-body">

                        <div class="form-group">

                            <label for="ListTables-TableTableID">ID</label>
                            <input type="text" class="form-control" id="ListTables-TableTableID"
                                   data-ng-model="current.instances.ListTables.data.TableTableID"
                                   ng-change="rowChanged(current.instances.ListTables)"
                                   disabled
                                    >
                        </div>

                        <div class="form-group">

                            <label for="ListTables-TableName">Table Name</label>
                            <input type="text" class="form-control" id="ListTables-TableName"
                                   data-ng-model="current.instances.ListTables.data.TableName"
                                   ng-change="rowChanged(current.instances.ListTables)"

                                    >
                        </div>

                        <div class="form-group">

                            <label for="ListTables-TableSQL">SQL</label>
                            <input type="text" class="form-control" id="ListTables-TableSQL"
                                   data-ng-model="current.instances.ListTables.data.TableSQL"
                                   ng-change="rowChanged(current.instances.ListTables)"

                                    >
                        </div>

                        <div class="form-group">

                            <label for="ListTables-TableModuleID">ModuleID</label>
                            <input type="text" class="form-control" id="ListTables-TableModuleID"
                                   data-ng-model="current.instances.ListTables.data.TableModuleID"
                                   ng-change="rowChanged(current.instances.ListTables)"
                                   disabled
                                    >
                        </div>

                        <div class="form-group">

                            <label for="ListTables-TableModuleName">Module</label>
                            <input type="text" class="form-control" id="ListTables-TableModuleName"
                                   data-ng-model="current.instances.ListTables.data.TableModuleName"
                                   ng-change="rowChanged(current.instances.ListTables)"

                                    >
                        </div>

                        <div class="form-group">

                            <label for="ListTables-TableModuleCode">Module Code</label>
                            <input type="text" class="form-control" id="ListTables-TableModuleCode"
                                   data-ng-model="current.instances.ListTables.data.TableModuleCode"
                                   ng-change="rowChanged(current.instances.ListTables)"
                                   disabled
                                    >
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
