<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ListTables</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Angular JS -->
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <!-- Mobile Angular UI -->
    <link rel="stylesheet" href="/lib/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css">
    <link rel="stylesheet" href="/lib/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css">
    <script type="text/javascript" src="/lib/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
    <!-- Other -->
    <script type="text/javascript" src="/lib/lodash/dist/lodash.min.js"></script>
    <!-- Tantalim -->
    <link rel="stylesheet" href="/css/mobile.css">
    <!--<link rel="stylesheet" href="/assets/mobile.css">-->
    <script type="text/javascript" src="/js/tantalim.mobile.js"></script>
    <script type="text/javascript" src="/page-definition/ListTables"></script>
    <script type="text/javascript">
        window.pageName = 'ListTables';
        window.user = {
            username: 'trevorallred',
            name: 'Trevor Allred (AUTO)'
        };
    </script>
</head>
<body ng-app="tantalim.mobile">

<!-- Sidebars -->
<div ng-include="'/mobile-menu'" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar"></div>
<div ng-include="'/m/ListTables/nav'" class="sidebar sidebar-right" toggleable parent-active-class="sidebar-right-in" id="rightSidebar"></div>

<div class="app" ng-controller="PageController">
    <!-- Navbars -->
    <div class="navbar navbar-app navbar-absolute-top">
        <div yield-to="title" class="navbar-brand navbar-brand-center"></div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar sidebar-toggle" data-ng-click="toggle('mainSidebar')">
                <i class="fa fa-bars"></i> Menu
            </div>
        </div>

        <div yield-to="topRightMenus" class="btn-group pull-right">
            <div class="btn btn-navbar" data-ng-click="save()">
                <i class="fa fa-floppy-o"></i> Save
            </div>
        </div>
    </div>

    <div class="navbar navbar-app navbar-absolute-bottom">
        <div yield-to="bottomLeftMenus" class="btn-group pull-left"></div>
        <div yield-to="bottomRightMenus" class="btn-group pull-right"></div>
    </div>

    <div class="app-body" ng-class="{loading: loading}">
        <ng-view></ng-view>
    </div>
</div>

</body>
</html>
