<div content-for="title">List Tables</div>

<div ng-show="loading" class="app-content-loading">
    <i class="fa fa-spinner fa-spin loading-spinner"></i>
</div>

<div id="static-content" data-ng-show="staticContent" data-ng-bind="staticContent"></div>

<div id="list-ListTables" class="app-content" data-ng-show="!loading">
    <div content-for="bottomLeftMenus">
        <div class="btn btn-navbar" data-ng-click="action.insert('ListTables')">
            <i class="fa fa-plus"></i> New
        </div>
    </div>

    <div content-for="bottomRightMenus">
        <div class="btn btn-navbar" data-ng-click="">
            <i class="fa fa-bars"></i> Menu
        </div>
    </div>

    <div class="content-expanded" data-ng-hide="current.sets.ListTables.rows.length">
        No Data Found
    </div>
    <div class="scrollable">
        <div class="scrollable-content">
            <div class="list-group">
                <a href="#/detail/ListTables/{{row.id}}" class="list-group-item"
                   data-ng-repeat="row in current.sets.ListTables.rows">

                    <span data-ng-bind="row.data.TableName"></span>

                    <i class="fa fa-chevron-right pull-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
